VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id_here
VITE_HEDERA_TREASURY_ACCOUNT_ID=0.0.xxxxxxx
VITE_RC_SALE_CONTRACT_EVM_ADDRESS=0xYourContractAddress
VITE_RC_TOKEN_ID=0.0.xxxxxxx
VITE_RC_SALE_CONTRACT_GAS=450000
VITE_TOPUP_MIN_HBAR=0.01
VITE_TOPUP_MAX_HBAR=25
VITE_HEDERA_NETWORK=mainnet

# RepaHubMusicNFT (Hedera Mainnet)
VITE_MUSIC_NFT_CONTRACT_EVM=0xbf25b238784fe6ffe4f2936e41a538a77114db2b
VITE_MUSIC_NFT_CONTRACT_ID=0.0.10460439
VITE_PINATA_GATEWAY=https://fuchsia-glamorous-toucan-716.mypinata.cloud
